.banner,
.search,
.count {
    text-align: center;
}

.count {
    margin-top: 3em;
    margin-bottom: 3em;
}

.loading {
    margin-left: 62em;
    width: 100px;
    height: 20px;
    border: 4px groove gray;
}

.loading .inner {
    width: 20%;
    height: 100%;
    background-color: lightblue;
}

.banner h1 {
    font-size: 5em;
}

.count p {
    font-size: 1.5em;
}

.count,
.banner,
#submit {
    font-family: 'Caveat Brush', cursive;
}

#query {
    width: 15em;
    height: 3em;
    margin-left: 5em;
}

#submit {
    width: 4em;
    height: 3.2em;
    margin-left: 2em;
}

.banner {
    height: 7em;
    margin-top: 11em;
    margin-bottom: 5em;
}

.display {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}

@-webkit-keyframes myResults {
    from {
        display: none;
    }
    to {
        display:inline;
    }
}

@keyframes myResults {
    from {
        display: none;
    }
    to {
        display:inline;
    }
}

.display li {
    display: inline;
    /* -webkit-animation-name: myResults;*/
    /* -webkit-animation-delay: 10s;*/
    /*animation-name: myResults;*/
    /*animation-delay: 10s;*/
}


