<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Flickr Searcher</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
    <!--<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">-->
    <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="myCtrl">
    <div class="banner">
        <h1>Flickr Searcher</h1>
    </div>
    <div class="search">
        <form name="myForm" ng-submit="flickr()">
            <input id="query" type="text" ng-model="query" name="query"/><input id="submit" type="submit" name="submit" value="+"/>
        </form>
    </div>
    <div class="count" ng-if="results">
        <p></p>
        <p>Got {{results.length}} results for " {{ tag }} "</p>
    </div>
    <div class="results">
        <ul class="display" ng-repeat="result in results">
            <li><img ng-src="https://farm{{result.farm}}.staticflickr.com/{{result.server}}/{{result.id}}_{{result.secret}}.jpg" alt="flickr photo"/></li>
        </ul>
    </div>
    
    <script src="https://code.angularjs.org/1.5.5/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>